-r requirements.txt

# Python Package Index
build
twine

# Documentation
sphinx
sphinx-autobuild
pydata-sphinx-theme

# Code Quality
black
flake8
pylint
pytest-cov
pytest-profiling

# Notebooks
ipykernel
