# Development Requirements

# Runtime
-r requirements.txt

# Python Package Index
build
twine

# Documentation
-r doc/requirements.txt

# Code Quality
black
flake8
pylint
pytest-cov
pytest-profiling

# Notebooks
ipykernel
